-r requirements.txt
types-redis
types-aiofiles
mypy
flake8
black
pytest==7.4.0
pytest-asyncio
pytest-cov==4.1.0
fakeredis==2.20.0
pytest-mock==3.10.0
aioconsole==0.8.0
pre-commit==3.8.0
prompt_toolkit==3.0.47
colorama==0.4.6
aiohttp==3.10.5
types-aiofiles==3.10.5
aiofiles==24.1.0
